body,
html {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  color: white;
}

.page, .post {
  border-bottom: 1px solid #171624;
  padding-bottom: 1em;
}

.dd-navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 1;
  background-color: #171624;
  margin: 0 auto;
}

.dd-navbar-mobile {
  display: none;
  background-color: #171624;
}

.dd-navbar ul.dd-navbar-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.dd-navbar ul li {
  list-style: none;
  padding: 1em 2.5em;
}

.dd-navbar ul li a {
  color: white;
}

img.dd-logo {
  width: 50px;
  margin: 0;
}

.dd-title {
  margin-top: 2em;
}

.dd-header {
  background: radial-gradient(ellipse at bottom, #191631 0%, #15161d 100%);
  width: 100%;
  text-align: center;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

.dd-main-section {
  display: grid;
  margin: 2em 1em;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "a1 a5"
    "a2 a5"
    "a3 a5"
    "a4 a5";
  z-index: 1;
}

.dd-main--box {
  border-radius: 5px;
  padding: 1em 2em;
  color: #191631;
  text-align: left;
}

.dd-main--box a,
.dd-main--box a:visited,
.dd-main--box a:active {
  color: #00c8c0;
}

.dd-main--box-a1 { grid-area: a1; }
.dd-main--box-a2 { grid-area: a2; }
.dd-main--box-a3 { grid-area: a3; }
.dd-main--box-a4 { grid-area: a4; }

.dd-main--box h2 {
  color: #191631;
  font-weight: 200;
}

.dd-main--box h3 {
  color: #191631;
  font-weight: 800;
}

.dd-container {
  /* background: radial-gradient(ellipse at bottom, #191631 0%, #15161d 100%); */
  min-height: 100%;
  color: #1b2735;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.dd-container-page {
  display: flex;
  padding: 0 128px;
  margin-top: 128px;
  width: 60vw;
  min-height: 100%;
  background-color: white;
  z-index: 0;
  flex-direction: column;
}

.dd-page {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.dd-page p {
  line-height: 1.5;
}

.dd-page-date {
  margin: 0;
  text-align: center;
}

.dd-page-title-container {
  display: flex;
  flex-direction: column;
  padding: 1em .5em;
  margin: 0 0 1em 0;
}

.dd-page-title {
  padding-bottom: 1em;
  text-align: center;
  font-size: 56px;
  margin: 0;
  font-weight: 600;
  transform: skew(-5deg) rotate(5deg);
  grid-area: text;
  color: black;
  text-shadow: 1px 1px 0 #4ef3dc, -1px -1px 0 #D53A33;
}

.dd-page-title-container .dd-page-title,
.dd-page .dd-page-title {
  padding: 1em;
  width: auto;
}

.dd-post-title {
  font-weight: 200;
}

.dd-post-title a {
  color: #00c8c0;
  font-weight: 800;
}

.dd-header h1 {
  font-size: 4rem;
  margin-top: 5rem;
  z-index: 0;
  font-weight: 600;
  transform: skew(-5deg) rotate(-5deg);
  grid-area: text;
  color: white;
  text-shadow: 1px 1px 0 #4ef3dc, -1px -1px 0 #D53A33;
  max-width: 80vw;
  font-weight: 600;
}

.dd-subtitle {
  font-size: 1.5rem;
  z-index: 0;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  padding: 1em 0;
  width: 50vw;
  color: white;
}

.dd-footer {
  position: fixed;
  display: flex;
  bottom: 0;
  padding: .5em 3em;
  background-color: #ffffffc2;
  width: 100%;
}

.dd-copyright {
  color: #9b93fe;
}

.dd-action-button {
  border: 1px solid #1b2735;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  padding: .5em 1em;
  display: none;
}

.dd-action-button.active {
  display: block;
  position: absolute;
  top: 2em;
  right: 2em;
}

.dd-audio {
  margin: 2em 0;
}

.dd-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dd-social ul li {
  margin: 0 0 .5em 0;
}

.dd-terramur {
  text-align: center;
  background: #eec9946b;
}

.dd-main--box.dd-terramur h2 {
  font-size: 1.5em;
  font-weight: 800;
}

.dd-main--box.dd-terramur img {
  width: 100%;
}

.dd-table-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
}

.dd-table-program {
  table-layout: fixed;
}

.dd-table-grid-full {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
}

.dd-table-grid td {
  vertical-align: baseline;
}

.dd-table-grid th {
  vertical-align: baseline;
  text-align: center;
}

tbody tr:nth-child(odd) td.dd-table-talk,
tbody tr:nth-child(even) td.dd-table-talk {
  background-color: #f2deff;
}

tbody tr:nth-child(odd) td.dd-table-workshop,
tbody tr:nth-child(even) td.dd-table-workshop {
  background-color: #c8fecf;
}

tbody tr:nth-child(odd) td.dd-table-event,
tbody tr:nth-child(even) td.dd-table-event {
  background-color: #b0fbea;
}

tbody tr:nth-child(odd) td.dd-table-extra,
tbody tr:nth-child(even) td.dd-table-extra {
  background-color: #f9f4ac;
}


tbody tr:nth-child(odd) td.dd-table-pause,
tbody tr:nth-child(even) td.dd-table-pause {
  background-color: #deddde;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 1220px) {
  .dd-table-grid {
    display: grid;
    grid-template-columns: 100%;
  }

  .dd-header h1 {
    font-size: 4rem;
    margin: 5rem 0 1rem 0;
  }

  .dd-subtitle {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.5;
    padding: 1em 0;
    width: 75vw;
  }

  .dd-title {
    margin-top: 4em;
  }

  .dd-main-section {    
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-template-areas:
        "a5"
        "a1"
        "a2"
        "a3"
        "a4";
  }

  .dd-navbar {
    display: none;
    justify-content: end;
    width: 50vw;
    right: 0;
    padding-top: 128px;
    z-index: 2;
  }

  .dd-navbar.active {
    display: block;
  }

  .dd-navbar-mobile {
    position: fixed;
    display: block;
    z-index: 1;
    width: 100vw;
    height: 7rem;
  }

  .dd-navbar-mobile a {
    position: absolute;
    padding: 2em 0 0 1.5em;
    left: 1em;
  }

  .dd-navbar-mobile button {
    position: absolute;
    right: 2em;
    top: 1.5em;
  }

  .dd-navbar-mobile button#dd-close-button,
  .dd-navbar-mobile button#dd-open-button {
    display: none;
  }

  .dd-navbar-mobile button#dd-close-button.active,
  .dd-navbar-mobile button#dd-open-button.active {
    display: block;
  }

  .dd-navbar ul.dd-navbar-list {
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    align-items: flex-end;
    justify-content: start;
  }

  .dd-navbar-item.dd-main {
    display: none;
  }

  .dd-container-page {
    padding: 0;
    width: 100%;
    margin: 10rem 0.5em 0 0.5em;
    max-width: 90%;
  }

  .dd-page {
    padding: 1em 0;
  }

  .dd-page p img {
    width: 100%;
  }

  .dd-page-title {
    padding: .5em 0;
    font-size: 28px;
  }

  .post-title {
    font-size: 22px;
  }

  .dd-revista-posts {
    flex-direction: column;
  }
}

@media only screen
and (min-width : 680px) {
  .dd-container-page {
    padding: 0 1em;
    width: 100%;
    margin: 6rem 0;
    max-width: 80%;
  }

  .dd-page {
    padding: 1em 0;
  }

  .dd-page p img {
    width: 25rem;
    padding: 2em;
  }
}

.dd-post--author {
  font-style: italic;
}

.dd-revista-image {
  margin: 2em 0;
}

.dd-revista-info {
  text-align: center;
}

.dd-revista-container {
  display: flex;
  flex-direction: column;
}

.dd-revista-content {
  padding: 2em 0;
}

.dd-revista-posts {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
  justify-content: center;
}

.dd-revista-post {
  padding: 2em;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-9deg);
  }
  100% {
    transform: rotateY(-34deg);
  }
}

.book {
  width: 175px;
  height: 275px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-34deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book, 
.book-container:focus .book {
  transform: rotateY(-9deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 175px;
  height: 275px;
  transform: translateZ(5px);
  background-color: #01060f;
  border-radius: 0 0px 0px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 2px;
  width: 8px;
  height: 271px;
  transform: translateX(168px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 175px;
  height: 275px;
  transform: translateZ(-5px);
  background-color: #01060f;
  border-radius: 0 0px 0px 0;
  box-shadow: -10px 0 50px 10px #666;
}
