{% assign podcasts = site.posts | where: "categories","podcast" %}
{% assign podcast = podcasts.first %}

{% assign revistas = site.posts | where: "categories","revista" %}
{% assign revista = revistas.first %}

{% assign posts = site.posts | where: "categories","blog" %}
{% assign post = posts.first %}

{% assign noticias = site.posts | where: "categories","noticias" %}
{% assign noticia = noticias.first %}

{% assign programas = site.pages | sort: 'order' | where: "title_page", "programa-terramur-2024" %}
{% assign programa = programas.first %}

<div class="dd-header">
  <h1 class="dd-title">DROIDS AND DRUIDS</h1>
  <p class="dd-subtitle">donde la fantasía y la ciencia ficción se encuentran</p>
</div>

<section class="dd-main-section">
  <article class="dd-main--box dd-main--box-a1">
    <article class="dd-main--box dd-main--box-a2">
      <h2>📌 No te pierdas nada</h2>

      <h3>Noticias</h3>

      {% if noticia.title %}
      <p><a href="{{ noticia.url }}">{{ noticia.title }}</a> {{ noticia.description}}</p>
      {% endif %}
    </article>

    <article class="dd-main--box dd-main--box-a2">
      <h2>📻 Escucha el podcast</h2>
      {% if podcast.title %}
      <h3>Último episodio</h3>
      <p><a href="{{ podcast.url }}">{{ podcast.title }}</a> {{ podcast.description}}</p>
      {% endif %}
    </article>

    <article class="dd-main--box dd-main--box-a3">
      <h2>📰 Descárgate la revista</h2>
      {% if revista.title %}
      <h3>Último número</h3>
      <p><a href="{{ revista.url }}">{{ revista.title }}</a> {{ revista.description}}</p>
      {% endif %}
    </article>

    <article class="dd-main--box dd-main--box-a4">
      <h2>📜 Lee el blog</h2>
      {% if post.title %}
      {% assign author = post.author.first %}
      <h3>Último post</h3>
      <p><a href="{{ post.url }}">{{ post.title }}</a> {{ post.description}}<span class="dd-post--author">- {{
          author.name }}</span></p>
      {% endif %}
    </article>

    <article class="dd-main--box dd-main--box-a2">
      <h3>Redes sociales</h3>

      <div class="dd-social">
        <ul>
          <li><a href="https://twitter.com/DroidsAndDruids">Twitter</a></li>
          <li><a href="https://instagram.com/DroidsAndDruids">Instagram</a></li>
          <li><a href="https://www.ivoox.com/podcast-droids-and-druids_sq_f1919150_1.html">iVoox</a></li>
          <li><a href="https://lektu.com/e/droidsdruids/2399">Lektu</a></li>
          <li><a href="https://www.goodreads.com/group/show/1138379-club-de-lectura-de-droids-druids">Goodreads</a></li>
          <li><a href="https://github.com/DroidsAndDruids">GitHub</a></li>
        </ul>
      </div>
    </article>

  </article>

  <article class="dd-main--box dd-main--box-a5 dd-terramur">
    <h2>
      <a href="{% post_url noticias/2024-01-11-festival-terramur-2024 %}">
        🧚 TERRAMUR 2024 🚀
      </a>
    </h2>

    <p>Festival de literatura fantástica de Murcia</p>

    <p>22 y 23 de Marzo</p>

    <p>Centro cultural Puertas de Castilla</p>

    <p>
      <a href="{{ programa.url }}">
        Programa
      </a>
    </p>

    <p>
      <a href="{% post_url noticias/2024-01-11-festival-terramur-2024 %}">
        Más información
      </a>
    </p>

    <a href="{% post_url noticias/2024-01-11-festival-terramur-2024 %}">
      <img src="{{ site.baseurl }}public/images/terramur_2024_small.png" alt="Cartel Festival Terramur 2024" />
    </a>
  </article>
</section>