---
layout: default
---

<div class="home">
    <section class="dd-main-page">
        <div class="dd-content">
            <section class="dd-main-page--right">
                <h1>Droids And Druids</h1>
                <p>Un podcast sobre ciencia ficción y fantasía</p>
            </section>
            <!-- <aside class="dd-main-page--left">
                <div class="dd-episodes">
                    <p>Episodios:</p>
                </div>
            </aside> -->
        </div>
    </section>
</div>
